.container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Open Sans';
}

.newsletter{
    color:gray;
    border: solid thin gray;
    padding: 10px;
    border-radius: ;
}
.newsletter button{
    background-color:#3cb878 ;
    border: none;
    color: white;
    display: block;
    width: 100%;
    height: 30px;
}

.newsletter input#email{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    border: solid #cfcfcf 1px;
    border-radius: 3px;
    box-sizing: border-box;
    
}

.newsletter h3{
    margin-top: 0;
}
